.track-top-chart-item {
  @include flex_align_between;

  padding: 8px;
  max-width: 100%;
  border-radius: 12px;

  @include breakpoint(tablet) {
    padding: 4px;
  }

  @include breakpoint(mobile-l) {
    padding: 2px;
  }

  &__hovered {
    background-color: $color_violet_opacity10;
  }

  &__content {
    @include flex-fill;
    @include flex_align;
    @extend %font-montserrat-medium;

    gap: 12px;

    @include breakpoint(mobile-l) {
      gap: 4;
    }
  }

  &__playIcon {
    width: 24px;

    @include breakpoint(mobile-l) {
      width: 14px;
    }
  }

  &__itemIndex {
    @include text-ellipsis;

    width: 24px;
    flex-shrink: 0;
    font-size: 20px;
    text-align: center;

    @include breakpoint(tablet) {
      font-size: 16px;
    }

    @include breakpoint(mobile-l) {
      width: 14px;
      font-size: 12px;
    }
  }
}
