.favorite-control {
  &__buttonControlsExtra {
    border: none;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    background: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
}
