.volume-control {
  &__volumeIcon {
    border: none;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    background: none;
    position: relative;
    border-radius: 50%;
    transition: background-color 0.3s ease;

    &::before {
      content: '';
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      position: absolute;
      background: transparent;
    }
  }
}
