.all-top-album-tracks {
  padding: 32px;

  @include breakpoint(tablet) {
    padding: 24px;
  }

  @include breakpoint(mobile-l) {
    padding: 14px;
  }

  &__trackList {
    @include flex-center-stretch;

    gap: 30px;
    flex-wrap: wrap;

    @include breakpoint(tablet) {
      gap: 20px;
      justify-content: center;
    }

    @include breakpoint(mobile-l) {
      gap: 10px;
    }
  }
}
