$font_resources_path: '/src/styles/fonts/Montserrat';

%font-montserrat-medium {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}

%font-montserrat-semibold {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
}

%font-montserrat-bold {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  src: url('#{$font_resources_path}/Montserrat-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  src: url('#{$font_resources_path}/Montserrat-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  src: url('#{$font_resources_path}/Montserrat-Bold.ttf') format('truetype');
  font-display: swap;
}
