.top-chart-tracks {
  width: 100%;
  position: relative;
  padding-right: 48px;
  padding-bottom: 24px;

  @include breakpoint(tablet) {
    padding-right: 32px;
  }

  @include breakpoint(mobile-l) {
    padding-right: 16px;
  }
}
