.all-recommended-tracks {
  padding: 32px;

  @include breakpoint(tablet) {
    padding: 24px;
  }

  @include breakpoint(mobile-l) {
    padding: 14px;
  }

  &__trackList {
    @include flex-center-stretch;

    flex-wrap: wrap;

    @include breakpoint(tablet) {
      justify-content: center;
    }
  }
}
