.section-header {
  @include flex_align_between;

  width: 100%;
  margin-bottom: 24px;

  @include breakpoint(tablet) {
    margin-bottom: 20px;
  }

  @include breakpoint(mobile-l) {
    margin-bottom: 14px;
  }

  &__title {
    @include text-wrap;
    @extend %font-montserrat-medium;

    font-size: 24px;
    color: $color_dark;

    @include breakpoint(tablet) {
      font-size: 20px;
    }

    @include breakpoint(mobile-l) {
      font-size: 18px;
    }
  }

  &__button {
    @extend %font-montserrat-semibold;

    flex-shrink: 0;
    font-size: 14px;
    padding: 6px 10px;

    @include breakpoint(tablet) {
      font-size: 12px;
      white-space: nowrap;
    }
  }

  &__button:hover {
    border-radius: 6px;
    background-color: $color_violet_opacity10;
  }
}
