.recommended-tracks {
  width: 100%;
  padding-bottom: 24px;

  &__trackList {
    @include scroll-hidden-x;

    gap: 30px;
    width: 100%;
    display: flex;
    align-items: stretch;

    @include breakpoint(tablet) {
      gap: 20px;
    }

    @include breakpoint(mobile-l) {
      gap: 10px;
    }
  }
}
