$color_white: #fff;

$color_gray_50: #f2f2f2;
$color_gray_100: #e6e6e6;
$color_gray_150: #d7d7d7;
$color_gray_180: #dadada;
$color_gray_200: #c4c4c4;
$color_gray_400: #999999;
$color_gray_600: #6b6b6b;
$color_gray_800: #3c3e43;

$color_dark: #121212;
$color_dark_opacity50: #12121280;
$color_dark_opacity10: #12121210;

$color_violet: #7c74ee;
$color_violet_opacity10: #7c74ee1a;
$color_violet_linear_gradient: linear-gradient(to right, #3dc3c0, #8568f5);

$color_black_linear_gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 16.25%,
  rgba(0, 0, 0, 0.306105) 43.48%,
  rgba(0, 0, 0, 0.612209) 60.81%,
  rgba(0, 0, 0, 0.883374) 77.05%,
  #000000 90.75%
);

$color_volume_linear_gradient: linear-gradient(
  to right,
  $color_violet 0%,
  $color_violet var(--volume-percent, 0%),
  $color_gray_180 var(--volume-percent, 0%),
  $color_gray_180 100%
);

$color_progress_linear_gradient: linear-gradient(
  to right,
  $color_violet 0%,
  $color_violet var(--progress-percent, 0%),
  $color_gray_180 var(--progress-percent, 0%),
  $color_gray_180 100%
);
