$color_white: #fff;
$color_gray_50: #f2f2f2;
$color_gray_100: #e6e6e6;
$color_gray_200: #cccccc;
$color_gray_400: #999999;
$color_gray_600: #6b6b6b;
$color_gray_800: #3c3e43;
$color_dark: #121212;
$color_black: #000;

$color_violet: #7c74ee;
$color_violet_opacity: #7c74ee1a;
$color_violet_linear_gradient: linear-gradient(to right, #3dc3c0, #8568f5);

$color_info: #ffc400;
$color_error: #dd360c;
$color_success: #57d9a3;
