.top-album-tracks {
  width: 100%;
  padding: 32px;

  @include breakpoint(tablet) {
    padding: 24px;
  }

  @include breakpoint(mobile-l) {
    padding: 14px;
  }

  &__trackList {
    @include scroll-hidden-x;

    gap: 30px;
    width: 100%;
    display: flex;

    @include breakpoint(tablet) {
      gap: 20px;
    }

    @include breakpoint(mobile-l) {
      gap: 10px;
    }
  }
}
